parameters:
	tmpDir: %currentWorkingDirectory%/temp/phpstan/

	paths:
		- %currentWorkingDirectory%/src/
#		- %currentWorkingDirectory%/tests/

	excludePaths:
		- %currentWorkingDirectory%/tests/temp/*

	level: 8
